@font-face {
    font-family: 'c64';
    src: url('c64-webfont.woff2') format('woff2'),
    url('c64-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.screen > canvas {
    image-rendering: optimizeSpeed;             /* Older versions of FF          */
    image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
    /*noinspection CssInvalidPropertyValue*/
    image-rendering: -webkit-optimize-contrast; /* Safari                        */
    image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
    image-rendering: pixelated;                 /* Awesome future-browsers       */
    -ms-interpolation-mode: nearest-neighbor;   /* IE                            */


    outline: white solid 4px;
    -webkit-box-shadow: 0 0 70px 20px rgba(255,255,255,0.2);
    box-shadow: 0 0 70px 20px rgba(255,255,255,0.2);
}
.screen {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
html {
    background-color: black;
    font-family: c64, serif;
}
body {

}