<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SmileOS Plus</title>
    <link rel="stylesheet" th:href="@{/viewerStyle.css}">
</head>
<body>
test
<div class="screen" id="color"></div>
<div class="screen" id="text"></div>
</body>
<!-- Base -->
<script th:src="@{/lib/gpu-browser.min.js}"></script>
<script th:src="@{/sys/hardware.js}"></script>
<script th:src="@{/sys/smileos2.js}"></script>
<script th:src="@{/sys/boot.js}"></script>
<!-- Library -->
<script th:src="@{/lib/gfx.js}"></script>
<script th:src="@{/lib/input.js}"></script>
<!-- Demons -->

<!-- Apps -->
<script th:each="app : ${apps}" th:src="'/bin/' + ${app} + '.js'"></script>
<!-- Start -->
<script th:src="@{/sys/run.js}"></script>

</html>