<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SmileOS Plus</title>
    <link rel="stylesheet" th:href="@{/viewerStyle.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/favicons/normal.png}">
</head>
<body>
<div class="screen" id="color"></div>
<div class="screen" id="text"></div>
</body>
<!-- External -->
<script src="//unpkg.com/gpu.js@latest/dist/gpu-browser.min.js"></script>
<script src="//unpkg.com/canvas-txt"></script>
<!-- Base -->
<script th:src="@{/sys/hardware.js}"></script>
<script th:src="@{/sys/smileos2.js}"></script>
<script th:src="@{/sys/boot.js}"></script>
<!-- Library -->
<script th:src="@{/lib/gfx.js}"></script>
<script th:src="@{/lib/input.js}"></script>
<!-- Demons -->
<script th:each="demon : ${demons}" th:src="'/bin/demon/' + ${demon}"></script>
<!-- Apps -->
<script th:each="app : ${apps}" th:src="'/bin/app/' + ${app}"></script>
<!-- Start -->
<script th:src="@{/sys/run.js}"></script>

</html>